<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brainwave Capture</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background: #913d05;
            color: #fff;
            font-family: "Open Sans", sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        .hero-section {
            display: flex;
            align-items: center;
            flex-direction: column;
            min-height: 100vh;
        }

        .video-container {
            display: none;
            flex-direction: column;
            align-items: center;
            overflow-y: auto;
            max-height: 60vh;
        }

        .video-wrapper {
            position: relative;
            margin: 20px 0;
        }

        video {
            width: 60%;
            aspect-ratio: 9 / 16;
        }

        .thumb-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: white;
            border: none;
            cursor: pointer;
        }

        .thumb-down {
            left: 10px;
        }

        .thumb-up {
            right: 10px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="#"><img height="50" style="border-radius:30px;" src="https://cdn.discordapp.com/attachments/145308522882662401/1163498520649662464/image.png?ex=653fcb70&is=652d5670&hm=7cb94fb8eba00d717ddb0f0981e395e32361644888421736a6810c534d293c71&"></a>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('main') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.profile') }}">User Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Find a Match</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.signup') }}">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('res.result') }}">Results</a>
                    </li>
				</ul>
			</div>
        </nav>
    </header>
    <section class="hero-section">
        <div class="container">
            <h1>Welcome to Brainwave Capture</h1>
            <p>Now we will capture your brainwaves while you watch these videos.</p>
            <h2>Instructions:</h2>
            <ul>
                <li>Place the headband on your head.</li>
                <li>The gold plates of the headband should be just on your forehead to scan your prefrontal cortex.</li>
                <li>The prongs should be on the back of your head just on the base of your skull to scan for visual receptors.</li>
                <li>Once you are ready, go ahead and press play.</li>
            </ul>
            <div id="playButtons">
                <button onclick="showVideos('Animals')">Animals</button>
                <button onclick="showVideos('Anime')">Anime</button>
                <button onclick="showVideos('Nature')">Nature</button>
            </div>
            <div class="video-container" id="Animals">
                <div class="video-wrapper">
                    <video controls src="Animals/animal1.mp4"></video>
                    <button class="thumb-button thumb-down">&#128078;</button>
                    <button class="thumb-button thumb-up">&#128077;</button>
                </div>
                <div class="video-wrapper">
                    <video controls src="Animals/animal2.mp4"></video>
                    <button class="thumb-button thumb-down">&#128078;</button>
                    <button class="thumb-button thumb-up">&#128077;</button>
                </div>
                <div class="video-wrapper">
                    <video controls src="Animals/animal3.mp4"></video>
                    <button class="thumb-button thumb-down">&#128078;</button>
                    <button class="thumb-button thumb-up">&#128077;</button>
                </div>
                <div class="video-wrapper">
                    <video controls src="Animals/animal4.mp4"></video>
                    <button class="thumb-button thumb-down">&#128078;</button>
                    <button class="thumb-button thumb-up">&#128077;</button>
                </div>
                <div class="video-wrapper">
                    <video controls src="Animals/animal5.mp4"></video>
                    <button class="thumb-button thumb-down">&#128078;</button>
                    <button class="thumb-button thumb-up">&#128077;</button>
                </div>
            </div>
            <div class="video-container" id="Anime">
                <div class="video-wrapper">
                    <video controls src="Anime/anime1.mp4"></video>
                    <button class="thumb-button thumb-down">&#128078;</button>
                    <button class="thumb-button thumb-up">&#128077;</button>
                </div>
                <div class="video-wrapper">
                    <video controls src="Anime/anime2.mp4"></video>
                    <button class="thumb-button thumb-down">&#128078;</button>
                    <button class="thumb-button thumb-up">&#128077;</button>
                </div>
                <div class="video-wrapper">
                    <video controls src="Anime/anime3.mp4"></video>
                    <button class="thumb-button thumb-down">&#128078;</button>
                    <button class="thumb-button thumb-up">&#128077;</button>
                </div>
            </div>
            <div class="video-container" id="Nature">
                <div class="video-wrapper">
                    <video controls src="Nature/nature1.mp4"></video>
                    <button class="thumb-button thumb-down">&#128078;</button>
                    <button class="thumb-button thumb-up">&#128077;</button>
                </div><div class="video-wrapper">
                    <video controls src="Nature/nature2.mp4"></video>
                    <button class="thumb-button thumb-down">&#128078;</button>
                    <button class="thumb-button thumb-up">&#128077;</button>
                </div>
                <div class="video-wrapper">
                    <video controls src="Nature/nature3.mp4"></video>
                    <button class="thumb-button thumb-down">&#128078;</button>
                    <button class="thumb-button thumb-up">&#128077;</button>
                </div>
                <div class="video-wrapper">
                    <video controls src="Nature/nature4.mp4"></video>
                    <button class="thumb-button thumb-down">&#128078;</button>
                    <button class="thumb-button thumb-up">&#128077;</button>
                </div>
                <div class="video-wrapper">
                    <video controls src="Nature/nature5.mp4"></video>
                    <button class="thumb-button thumb-down">&#128078;</button>
                    <button class="thumb-button thumb-up">&#128077;</button>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function showVideos(category) {
            // Hide all video containers
            $('.video-container').hide();

            // Show selected category
            $('#'+category).show();

            // Populate videos if not already done
            if ($('#'+category).is(':empty')) {
                for (let i = 1; i <= 5; i++) {
                    let videoSrc = `/static/${category}/${category.toLowerCase()}${i}.mp4`;
                    $('#'+category).append(`
                        <div class="video-wrapper">
                            <video controls src="${videoSrc}"></video>
                            <button class="thumb-button thumb-down">&#128078;</button>
                            <button class="thumb-button thumb-up">&#128077;</button>
                        </div>
                    `);
                }
            }
        }

        // Event listeners for thumbs up and down
        $(document).on('click', '.thumb-up', function() {
            $(this).css('background-color', 'green');
        });

        $(document).on('click', '.thumb-down', function() {
            $(this).css('background-color', 'red');
        });

        
        // Event listeners for when the video ends
        const videos = [document.getElementById("Puppies"), document.getElementById("Anime"), document.getElementById("Nature")];

        videos.forEach(video => {
            video.addEventListener("ended", () => {
                video.style.display = "none";
                // Reset the video source to prevent auto-play when shown again
                video.src = "";
                // Show the buttons
                playButtons.style.display = "block";
                stop_control_movie();
                if(puppiesVideoPlayed == true && animeVideoPlayed == true && natureVideoPlayed == true){
                    // Terminates recording script
                    currentMovie = 4;
                    updateMovie();

                    // If all 3 movies are played, we save the file.
                    store_movie_data();
                    analyze_data();
                }
            });
            video.addEventListener("pause", (event) => {
                stop_control_movie();
            });
            video.addEventListener("play", (event) => {
                // Start recording data for the current video
                play_control_movie();
                // Creates the user data variabel if it does not exist.
                if(!userDataCreated){
                    userDataCreated = true;
                    record_movie_data();
                }
            });
        });

        function updateMovie() {
            // Make an AJAX request to the Flask server
            $.ajax({
                type: "POST",
                url: "/update_movie",
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({ value: currentMovie }),
                success: function (response) {
                    // Update With success if value is passed
                    console.log(response);
                }
            });
        }

        // Calls the play_movie file
        function play_control_movie(){
          $.post("/open_api/play_movie", { "data":"somedata", "any":"data"},
              function(data, textStatus) {
                  //this gets called when browser receives response from server
                  console.log(data);
              }, "json").fail( function(response) {
                  //this gets called if the server throws an error
                  console.log("error");
              console.log(response);});
      }

      // Calls the stop_movie file
      function stop_control_movie(){
          $.post("/open_api/stop_movie", { "data":"somedata", "any":"data"},
              function(data, textStatus) {
                  //this gets called when browser receives response from server
                  console.log(data);
              }, "json").fail( function(response) {
                  //this gets called if the server throws an error
                  console.log("error");
              console.log(response);});
      }

      // Calls the stop_movie file
      function record_movie_data(){
          $.post("/open_api/hb_record", { "data":"somedata", "any":"data"},
              function(data, textStatus) {
                  //this gets called when browser receives response from server
                  console.log(data);
              }, "json").fail( function(response) {
                  //this gets called if the server throws an error
                  console.log("error");
              console.log(response);});
      }

      // Calls the stop_movie file
      function store_movie_data(){
          $.post("/open_api/hb_store", { "data":"somedata", "any":"data"},
              function(data, textStatus) {
                  //this gets called when browser receives response from server
                  console.log(data);
              }, "json").fail( function(response) {
                  //this gets called if the server throws an error
                  console.log("error");
              console.log(response);});
      }

      // Calls the stop_movie file
      function analyze_data(){
          $.post("/open_api/hb_analyze_data", { "data":"somedata", "any":"data"},
              function(data, textStatus) {
                  //this gets called when browser receives response from server
                  console.log(data);
              }, "json").fail( function(response) {
                  //this gets called if the server throws an error
                  console.log("error");
              console.log(response);});
      }

      // Event listeners for when the movie is played, as well as when it is paused or ends.
      video.addEventListener("play", (event) => {
          play_control_movie();
          record_movie_data();
      });
      video.addEventListener("pause", (event) => {
          stop_control_movie();
      });
      video.addEventListener("ended", (event) => {
          stop_control_movie();
          store_movie_data();
      });
    </script>
</body>
</html>
